/* ===== Colours ===== */:root{--body-color:#faebeb;--nav-color: #c03935;--side-nav:#c03935;--mau-trang:#fff;--search-bar:#F2F2F2;--search-text:#010718;--mau-chu:#4a403a;--mau-link:#4a403a;--mau-linkhd:#fff;--mauheading:#4a403a;--mau-reading:#ED8E89;--doi-mau:#faebeb;--font-familyct: Roboto;--font-size: 18px;--color-chapter: #4a403a;--breadcrumbs-color: #c03935;}
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration:none;}
img{width:100%}
ul,.widget ul{ list-style-type: none;padding:0;margin:0}
img { pointer-events: none;}
.container { display: grid; grid-template-columns:  70% 30%;  grid-template-areas: 'header header' 'nav nav' 'content aside' 'footer footer'; } 
header { grid-area: header;background:var(--nav-color)} 
#nav { grid-area: nav;}
#aside { grid-area: aside;padding: 1rem;}
#content { grid-area: content;padding: 1rem;margin:0px 10px;}
footer { grid-area: footer;background: var(--nav-color);}
body{min-height:100vh;margin:0;background:var(--body-color);font-family: 'Roboto', sans-serif;color: var(--mau-chu);}
@media only screen and (max-width:820px){.container {grid-template-columns: 100%;grid-template-areas:'header' 'nav' 'content' ' aside' 'footer';}}
.widget,.section {margin:0;}
img {width:100%}
.heading-1{letter-spacing:0.08em;font-weight:300;color:var(--mauheading);text-transform:uppercase;padding-top: 10px;font-size:18px}
.divider-1{background-color:#DADADA;height:1px;margin:0.5em 0 1.5em;}
.divider-1 span{display:block;width:50px;height:1px;background-color:var(--nav-color);}
ul.ullistyling{list-style:none;margin:0;padding:0}
.ullistyling li{margin:15px 0 0;padding:5px!important;display:block;clear:both;overflow:hidden;list-style:none;    border: 1px solid var(--nav-color);border-radius:5px}
.ullistyling li .avatarImage{float:left;margin-right:10px;position:relative;overflow:hidden}
.ullistyling li img{border-radius:100%;position:relative;overflow:hidden;display:block;width:42px;height:42px}
.ullistyling li a{font-weight:600;    text-decoration: none;    color: var(--mauheading);}
.ullistyling li span{margin-top:2px;display:block;font-size:15px;line-height:1.4;    color: var(--mau-link);}
.item-thumbnail a img{float:left;margin-right:10px;position:relative;overflow:hidden}
#theloailabel {padding:0}
.PopularPosts img {padding:0!important;}
#theloailabel { columns: 2;-webkit-columns: 2;-moz-columns: 2;}
#theloailabel li {    padding: 0.25em 0;}
#theloailabel li a {color: var(--mauheading);}
#BlogSearch1 h3,#BlogSearch1 .widget-content .search-action,#BlogSearch2 h2,#BlogSearch2 .gsc-search-button{display:none}
#mainheader .widget a {color: var(--mau-linkhd);}
#mainheader .widget h1 {font-size:25px;color: var(--mau-linkhd);}
#HTML3{text-align: center;width: 25%;} 
#Header1 {width: 25%;} 
#BlogSearch1{ width: 50%;text-align: center;} 
#BlogSearch2,.closenav{display: none;}
#HTML3 span {font-size: 25px;margin: 0px 10px;    color: var(--mau-linkhd);}
.nav_barlink:nth-child(1)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f015"; } .nav_barlink:nth-child(2)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2bb"; } .nav_barlink:nth-child(3)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f13e"; } .nav_barlink:nth-child(4)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2b9"; } .nav_barlink:nth-child(5)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\e4fd"; } .nav_barlink:nth-child(6)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f1da"; } .nav_barlink:nth-child(7)::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f5bc";}.widget li, .BlogArchive #ArchiveList ul.flat li{padding: 0;}
.nav_bar {    color: #fff; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #111; display: flex; align-items: center; height:40px;}
.nav_bar li { display: flex; align-items: center; margin-right: 20px;}
.nav_bar li:first-child { margin-left: 20px;}
.nav_bar li a { display: block; color: white; text-align: center; text-decoration: none;}
.nav_bar li::before {position: absolute; top: 0; left: 0;}
.nav_bar li { position: relative; padding-left: 22px; font-size: 15px;}
@media only screen and (max-width:820px){
#nav {display: none;position: fixed; z-index: 1; left: 0; top: 0; bottom:0; right:0; overflow: auto; background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 100%; background-color: var(--body-color);}
.nav_bar {margin-top: 20px!important;overflow: auto;display: block;height:100%;background: transparent;}
.nav_bar li {margin-bottom: 20px;font-size: 20px;color: var(--mau-chu);}
.nav_bar li a {color: var(--mau-chu);    margin-left: 20px;}
.nav_bar li:first-child {margin-left: 0;}
.menubar { display: inline-block!important; }
#BlogSearch1 { display: none!important; }
#HTML3 { width: 30%!important; }
#Header1 { width: 70%!important; }
#BlogSearch2,.closenav{display: block;}
.modalsearch,.closenav {display: block!important;}
}
.menubar { display: none; }
.media-icons a svg { width: 18px; height: 30px; }
.media-icons a { height: 30px; width: 30px; margin: 0 8px; border-radius: 50%; text-align: center; line-height: 30px; color: #fff; font-size: 17px; text-decoration: none; transition: all 0.4s ease; }
footer #mainfooter { margin: auto; padding: 15px; }
footer #mainfooter .topfooter { display: flex; align-items: center; justify-content: space-between; }
.media-icons{ display: flex;}
.media-icons a{ height: 30px; width: 30px; margin: 0 8px; border-radius: 50%; text-align: center; line-height: 30px; color: #fff; font-size: 17px; text-decoration: none; transition: all 0.4s ease;}
.media-icons a:nth-child(1){ background: #FE5009;} .media-icons a:nth-child(2){ background: #fc4f08;} .media-icons a:nth-child(3){ background: #21759b;} .media-icons a:nth-child(4){ background: #4267B2;} .media-icons a:nth-child(5){ background: #FF0000;}
.bottom_text{ margin: auto; padding: 15px 20px; display: flex; justify-content: space-between;}
#Text1{color: var(--mau-linkhd); font-size: 25px;}
#Text1::before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f5bb"; }
#Text1 .widget-content{display: inline;}
.bottom-details .bottom_text span, .bottom-details .bottom_text a { font-size: 14px; font-weight: 300; color: var(--mau-linkhd); opacity: 0.8; text-decoration: none; }
.bottom-details .bottom_text a {margin-right: 10px;} 
.closenav { color: #aaaaaa; font-size: 20px; font-weight: bold;    padding: 0px 15px 15px;    text-align: right;}
.pop-area::-webkit-scrollbar{display:none;}
.pop-area{display:flex!important;width:100%;height:100%;position:fixed;top:0;left:0;background:rgb(0 0 0 / 51%);visibility:hidden;opacity:0;transition:all 0.25s ease-in-out;z-index:999999;overflow-y:scroll;}
.pop-area.open{opacity:1;visibility:visible;}
.pop-html{background:var(--body-color);padding-bottom:10px;display:block;margin:auto auto;width:calc(100% - 20px);max-width:500px;visibility:hidden;opacity:0;overflow:hidden;border-radius:7px;box-shadow:0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);}
.pop-area.open .pop-html{opacity:1;transform:scale(1);visibility:visible;}
.head-pop{width:-webkit-fill-available;padding:12px 30px;overflow:hidden;background:var(--nav-color);color:var(--mau-linkhd);}
.close-btnn{float:right;cursor:pointer;fill:#7e7e7e;}
.body-content{padding:10px; color: var(--mau-chu);}
.text-center{display:grid;text-align:center;grid-gap:15px;}
.dot { position: relative; height: 50px; width: 50px; border-radius: 50%; display: inline-block; margin:10px 5px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }
#maudo {  background-color: #c03935;}
#maucam {  background-color: #e16a30;}
#mauvang {  background-color: #f5ad35;}
#mauluc {  background-color: #3d7d7d;}
#maulam {  background-color: #3777aa;}
#mautim {  background-color: #7c6d8e;}
#dottrang{background-color: #ddd;}
#dotden {background-color: #111;}
.cdactive:before { background: none; border: 4px solid var(--body-color); content: ""; display: block; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; pointer-events: none; border-radius: 50%; }
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: var(--nav-color);}
::-webkit-scrollbar {width: 10px;height: 10px;}
.widget {line-height: normal;}
ul.breadcrumb_list {padding: 0px 0px 1rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
ul.breadcrumb_list li {display: inline;}
ul.breadcrumb_list li+li:before {padding: 8px;content: "/\00a0";}
ul.breadcrumb_list li a,ul.breadcrumb_list li span {color: var(--mau-chu);text-decoration: none;
background-image: linear-gradient(var(--nav-color), var(--nav-color));background-size: 0% 2px;background-repeat: no-repeat;transition: background-size 0.3s;background-position: 50% calc(100% - 0px);}
ul.breadcrumb_list li a:hover,ul.breadcrumb_list li span:hover {background-size: 100% 2px;}
#yeuthichlist .body-content {max-height: 400px;overflow: auto;}
.yeuthich {display: grid;grid-template-columns: 60px 1fr 60px;padding: 10px;border: 1px solid var(--nav-color);border-radius: 7px;margin: 5px 0;padding: 5px;}
.truyenyeuthich {margin: auto 10px;    color: var(--mau-chu);}
.removeyeuthich {font-size: 1.5em;margin: auto;}
.imgyeuthich{height: 42px; border-radius: 100%; width: 42px;margin: auto;}
.linktruyenhs a,.tentruyenhs a {color: var(--mau-chu);}
.massgEmpty {color: var(--mau-chu);}
#khongluu {display:none}
.post-outer-container:empty {box-shadow: none;}
.lichsu tbody tr td {padding: 10px 0px 0px;font-size: 15px;}
.lichsu tbody tr td.tentruyenhs a {text-decoration: none;color: var(--mau-link);overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;line-clamp: 1;-webkit-box-orient: vertical;}
.search-input input, .search-container > div input, .file-list input, .gsc-input input{background-image: url(https://lh3.googleusercontent.com/-3ghRpaHDpZs/ZIMu2ViQk_I/AAAAAAAAA3Y/bOz8OqG_sbgwvF2eoOEdugOgJW37LpCzQCNcBGAsYHQ/h21/search.png);background-position: 10px 12px;background-repeat: no-repeat;width: 100%;font-size: 16px;padding: 12px 20px 12px 40px;border: 1px solid #ddd;}
#mainheader {display: flex;flex-wrap: wrap;}
#Header1,#HTML3 {flex-grow: 1;width: 25%;}
#BlogSearch1 {flex-grow: 1;width: 50%;}
#mainheader .widget h1{text-align: center;}
#mainheader > div {margin: auto; padding: 10px 0px;}
.Header h1{margin-bottom: 0px;}
@media only screen and (max-width:820px){#mainheader .widget h1{text-align: left;padding-left: 20px;}}
body{overflow:hidden;}
.media-icons a:last-child {color: var(--mau-linkhd);}
@media (max-width: 520px){footer #mainfooter .topfooter {flex-direction: column;}#mainfooter2 { margin-top: 16px;}.bottom_text { flex-direction: column;text-align: center;}.policy_terms{padding-top: 15px;}}
.biatruyen{display:none;}
.product-image span {position: absolute;right: 5px;top: 5px;background: var(--nav-color);color: var(--mau-linkhd);padding: 10px;font-size: 13px;}
.product-image {position: relative;}
.tentruyenwd {float: left;width: 70%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;line-clamp: 1;-webkit-box-orient: vertical;}
.title-info h3 {padding-top: 10px;padding: 0;margin: 5px 0;font-size: 14px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);}
.title-info {height: 40px;position: relative;}
.hahaa li a {font-size: 12px;color: var(--mau-link);text-decoration: none;}
.ngaydangtai .test {display: block;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;overflow: hidden;}
.hahaa {list-style: none; padding: 5px 0px;}
.hahaa li {padding: 5px 0px;}
@media (max-width: 600px){.post-outer-container {Padding: 2%;}#noidungtruyen .post-body {padding: 0px 1rem;}}
.ngaydangtai {display: block;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;overflow: hidden;}
#blog-pager-older-link,#blog-pager-newer-link{float: none;}
#Text2 .widget-content {border: 5px solid transparent; border-image: linear-gradient(to bottom right, #7c6d8e 17.5%, #3777aa 34%, #3d7d7d 50.5%, #f5ad35 67%, #e16a30 83.5%, #c03935 100%); border-image-slice: 1; margin: 20px auto;padding: 14px 16px;}
#Text2 .widget-content::before {content: "Thông báo: ";font-weight: bold;}
.linktruyenhs {    text-align: center;}.tentruyenhs{    width: 80%;}
/* blog-pager */
#blog-pager {overflow: visible;}
#blog-pager > a {border: 5px solid transparent; border-image: linear-gradient(to bottom right, #7c6d8e 17.5%, #3777aa 34%, #3d7d7d 50.5%, #f5ad35 67%, #e16a30 83.5%, #c03935 100%); border-image-slice: 1; padding: 14px 16px;margin: 5px;}
#blog-pager {display: grid;grid-template-columns: auto auto auto;}
#blog-pager a {color: var(--mau-link);}
#blog-pager > a:hover{    opacity: 0.6;}
/* Loading page */
.loading { width: 100%; height: 100%; background: var(--nav-color); opacity: 1; position: fixed; z-index: 999999; top: 0; botton: 0; left: 0; right: 0; } .loader { height: 20px; width: 250px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; } .loader--dot { animation-name: loader; animation-timing-function: ease-in-out; animation-duration: 3s; animation-iteration-count: infinite; height: 20px; width: 20px; border-radius: 100%; background-color: black; position: absolute; border: 2px solid white; } .loader--dot:first-child{background-color:#7c6d8e;animation-delay:0.5s} .loader--dot:nth-child(2){background-color:#3777aa;animation-delay:0.4s} .loader--dot:nth-child(3){background-color:#3d7d7d;animation-delay:0.3s} .loader--dot:nth-child(4){background-color:#f5ad35;animation-delay:0.2s} .loader--dot:nth-child(5){background-color:#e16a30;animation-delay:0.1s} .loader--dot:nth-child(6){background-color:#c03935;animation-delay:0s} .loader--text { position: absolute; top: 200%; left: 0; right: 0; margin: auto; text-align: center; color: var(--mau-linkhd); } .loader--text:after { content: "Loading"; font-weight: bold; animation-name: loading-text; animation-duration: 3s; animation-iteration-count: infinite; } @keyframes loader { 15% { transform: translateX(0); } 45% { transform: translateX(230px); } 65% { transform: translateX(230px); } 95% { transform: translateX(0); } } @keyframes loading-text { 0% { content: "Loading"; } 25% { content: "Loading."; } 50% { content: "Loading.."; } 75% { content: "Loading..."; } }
table.gsc-search-box td.gsc-input { padding-right: 0; }
#guidetour{transition: none;}
.cookie-box{ position: fixed; bottom: 20px; left: 20px; width: 300px; background: #fff; z-index: 1020; padding: 16px; visibility: visible; opacity: 1; border-radius: 8px; box-shadow: 0 1px 8px rgba(0,0,0,.1); transition: all .35s ease,background 0s ease; }
.cookie-box.cookie-boxhide{ opacity: 0; pointer-events: none; transform: scale(0.8); transition: all 0.3s ease; }
.cookie-box p{ color: #858585; margin: 5px 0 20px 0; display: block; font-size: 14px; margin: 0 0 15px; }
.cookie-box a{ color: #858585; text-decoration: underline; }
.cookie-box button{ border: none; outline: none; transition: all 0.3s ease; display: inline-block; height: 34px; background: var(--nav-color); font-size: 14px; color: var(--mau-linkhd); font-weight: 400; line-height: 34px; padding: 0 20px; border-radius: 8px; }
.cookie-box button:hover{ transform: scale(0.97); }
@media only screen and (max-width: 980px) { .cookie-box{ left: 16px; bottom: 16px; } }
@media only screen and (max-width: 680px){ .cookie-box { right: 0!important; left: 0!important; bottom: 0; width: 100%; padding: 20px 16px; margin: 0; border-radius: 0; transform: translate3d(0,50%,0); transition: all .5s ease,background 0s ease; transform: translate3d(0,0,0); } }
.PageList .title,.PageList h2 {display: none;}
.nld_view::after{font-family: "Font Awesome 5 Free";font-weight: 400;content:attr(data-view) '  \f06e ';letter-spacing: 2px;}
.sobinhluan::after{font-family: "Font Awesome 5 Free";font-weight: 400;content:attr(data-binhluan) '  \f075';letter-spacing: 2px;}
.sobinhluan,.nld_view{ margin: 10px;font-size: 16px;}
.prevent-select {-webkit-user-select: none; -ms-user-select: none;user-select: none;}
.avatar-image-container img {border-radius: 50%;}
.anmatkhau {-webkit-text-security: disc;text-security: disc;}
#saveButton {border: 1px solid;outline: 0;width: 100%;background: transparent;padding: 15px;box-sizing: border-box;}
.divpasssave {display: table; box-sizing: border-box;}
.divpasssavet {display: table-cell; width: 100%;}
#sortalpgabet {counter-reset: my-sec-counter;}
div[alphabett]::before {counter-increment: my-sec-counter;content: counter(my-sec-counter) ". ";}
.chucai:before{content: attr(alphabet);font-size: 30px;border-bottom: 1px solid;margin: 20px 0px;display: block;padding-bottom: 20px;}
.chucai{position: relative;}
.chucai:after{content: attr(countdst);font-size: 30px;display: block;position: absolute;top: 0;right: 0;}
div[alphabett]::after {color:red;}
.tieuthuyet::after {content: " - Tiểu Thuyết";}
.Manga::after {content: " - Manga";}
.Manhwa::after {content: " - Manhwa";}
.Manhua::after {content: " - Manhua";}
#comments {margin: 0px 20px;}
.post-footer {margin: 15px 0px;}
.chucai * { line-height: 1.5;}
.sobinhluan     {display: none;}
.datetime a,#comments .comment .comment-actions a, .comment-reply, .comments .comments-content .user a, .thread-count a{color: var(--mau-chu); }
#comments .comment .comment-actions .comment-reply { padding-right: 20px;}
#comments .comment .comment-actions a, .comment-reply, .thread-count a {font-size: medium;}
#comments .comment .comment-actions a,.comment-reply,.comments .comments-content .user a,.thread-count a{color:var(--mau-chu);font-weight:700;}
.comments .comments-content .comment-content { text-align: inherit;}
.comments .comments-content .comment-header{margin: 0}
.datetime a{ display: block;font-size: small;padding: 0px 0px 5px;}
.comments .comments-content .comment-content  {margin: 8px 0px;}
